.posts_wrap_one{
    max-width: 418px;
    background-color: #fff;
    border-radius: 4px;
    padding: 24px 24px 4px 24px;
    margin-bottom: 32px;
  
   
  }
  .posts_wrap_one h3 {
     max-width: 354px;
     color:  #21243D;
    font-size: 26px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 37px;
    
  }
  .posts_wrap_one p {
    max-width: 354px;
    color:  #21243D;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 20px;
    
  }