.hero_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 88px;
  }
  .hero_item{
  max-width: 497px;
  }
  .hero_item h2 { 
    color:  #21243D;
    font-size: 44px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 40px;
    
  }
  .hero_item p {
    color:  #21243D;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 38px;
    
  }
  .hero_item button {
     border: none;
     padding: 10px 20px;
     background-color: #FF6464;
     color: #fff;
     border-radius: 2px;
  }
  
  .hero_img{
    width: 243px;
    height: 243px;
  }
  
  @media only screen and (max-width: 722px) {
         .hero_wrapper{
          flex-wrap: wrap;
          flex-direction: column-reverse;
         }
  }
  @media only screen and (max-width: 471px) {
    .hero_item{
      text-align: center;
      justify-content: center;
      
    }
   
    .hero_item h2{
      text-align: center;
    }
    .hero_item p{
      text-align: center;
    }
    .hero_img{
      margin: 0 auto;
    }
  }